{plugins, [{rebar_sesterl, {git, "https://github.com/gfngfn/rebar_sesterl_plugin.git", {branch, "master"}}}]}.
{src_dirs, ["./_generated", "./src"]}.
{deps, [{cowboy, "2.8.0"}]}.
{relx, [
    {release, {echo_server, "0.1.0"}, [
        cowboy,
        echo_server
    ]},
    {mode, dev}
]}.
{sesterl_opts, [{output_dir, "./_generated"}]}.
