{plugins, [{rebar_sesterl, {git, "https://github.com/gfngfn/rebar_sesterl_plugin.git", {branch, "master"}}}]}.
{src_dirs, ["./_generated", "./src"]}.
{deps, [{sesterl_stdlib, {git, "https://github.com/gfngfn/sesterl_stdlib", {tag, "v0.4.1"}}}]}.
{profiles, [{test, [{deps, []}]}]}.
{eunit_tests, [{dir, "_generated_test"}]}.
{relx, [{release, {calc, "0.1.0"}, [calc]}, {dev_mode, false}]}.
{sesterl_opts, [{output_dir, "./_generated"},{test_output_dir, "_generated_test"}]}.
