{plugins, [{rebar_sesterl, {git, "https://github.com/gfngfn/rebar_sesterl_plugin.git", {branch, "master"}}}]}.
{src_dirs, ["_generated", "./src"]}.
{deps, []}.
{profiles, [{test, [{deps, []}]}]}.
{eunit_tests, [{dir, "_generated_test"}]}.
{sesterl_opts, [{output_dir, "_generated"},{test_output_dir, "_generated_test"}]}.
